<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
				<div class="col">
					<div
						class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
						style="
							background-image: url('https://images.unsplash.com/photo-1606022831434-91293aebf25a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1366&q=80');
							background-size: cover;
							background-repeat: no-repeat;
							background-position: center center;
							border-radius: 20px !important;
						"
					>
						<div
							class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
						>
							<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Police</h2>
							<div class="d-flex flex-row flex-wrap">
								<div
									class="mx-1 my-1 px-3"
									style="
										background-color: rgb(240, 248, 255);
										border-radius: 15px;
									"
								>
									<a
										href="tel:999"
										class="h5 px-2 text-decoration-none fw-bolder"
										>999</a
									>
								</div>
								<div
									class="mx-1 my-1 px-3"
									style="
										background-color: rgb(240, 248, 255);
										border-radius: 15px;
									"
								>
									<a
										href="tel:911"
										class="h5 px-2 text-decoration-none fw-bolder"
										>911</a
									>
								</div>
								<div
									class="mx-1 my-1 px-3"
									style="
										background-color: rgb(240, 248, 255);
										border-radius: 15px;
									"
								>
									<a
										href="tel:911"
										class="h5 px-2 text-decoration-none fw-bolder"
										>911
									</a>
								</div>
								<div
									class="mx-1 my-1"
									style="
										background-color: rgba(240, 248, 255, 0.983);
										border-radius: 15px;
									"
								>
									<a
										href="tel:	020-2221969"
										class="h5 px-2 text-decoration-none fw-bolder"
									>
										020-2221969
									</a>
									<!-- <span class="display-6 fw-bold">/</span> -->
								</div>
							</div>
							<!-- <ul class="d-flex list-unstyled mt-auto">
                       <li class="me-auto">
                         <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                       </li>
                       <li class="d-flex align-items-center me-3">
                         <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                         <small>Earth</small>
                       </li>
                       <li class="d-flex align-items-center">
                         <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                         <small>3d</small>
                       </li>
                     </ul> -->
						</div>
					</div>
				</div>

				<div class="col">
					<div
						class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
						style="
							background-image: url('https://images.unsplash.com/photo-1600959907703-125ba1374a12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
							background-size: cover;
							background-repeat: no-repeat;
							background-position: center center;
							border-radius: 20px !important;
						"
					>
						<div
							class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
						>
							<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Ambulance</h2>
							<div class="d-flex flex-row flex-wrap">
								<div
									class="mx-1 my-1 px-3"
									style="
										background-color: rgb(240, 248, 255);
										border-radius: 15px;
									"
								>
									<span class="h5 fw-bolder text-dark">St Johns:</span>
									<a
										href="tel:0721611555"
										class="h5 text-decoration-none fw-bolder"
										>0721611555</a
									>
									<span class="h5 fw-bold">/</span>
								</div>
								<div
									class="mx-1 my-1 px-3"
									style="
										background-color: rgba(232, 45, 79, 0.993);
										border-radius: 15px;
									"
								>
									<span class="h5 fw-bolder">St Johns:</span>
									<a
										href="tel:0733930000"
										class="h5 text-decoration-none text-white fw-bolder"
										>0733930000</a
									>
								</div>
							</div>

							<!-- <ul class="d-flex list-unstyled mt-auto">
                       <li class="me-auto">
                         <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                       </li>
                       <li class="d-flex align-items-center me-3">
                         <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                         <small>Pakistan</small>
                       </li>
                       <li class="d-flex align-items-center">
                         <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                         <small>4d</small>
                       </li>
                     </ul> -->
						</div>
					</div>
				</div>

				<div class="col">
					<div
						class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg"
						style="
							background-image: url('https://images.unsplash.com/photo-1608723724423-6f60a2fc1a90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80');
							background-size: cover;
							background-repeat: no-repeat;
							background-position: center center;
							border-radius: 20px !important;
						"
					>
						<div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
							<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"
								>Fire Station</h2
							>
							<div class="d-flex flex-row flex-wrap">
								<div
									class="mx-1 my-auto px-1"
									style="
										background-color: rgb(240, 248, 255);
										border-radius: 15px;
									"
								>
									<span class="h5 fw-bolder text-dark">CBD:</span>
									<a
										href="tel:020 2344559"
										class="h5 text-decoration-none fw-bolder"
										>020 2344559</a
									>
									<span class="h5 fw-bold">/</span>
								</div>
								<div
									class="mx-1 my-2 px-1"
									style="
										background-color: rgb(240, 248, 255);
										border-radius: 15px;
									"
								>
									<span class="h5 fw-bolder text-dark">Enterprise Road:</span>
									<a
										href="tel:020 2344559"
										class="h5 text-decoration-none fw-bolder"
										>020 2344559</a
									>
									<span class="h5 fw-bold">/</span>
								</div>
							</div>

							<!-- <ul class="d-flex list-unstyled mt-auto">
                       <li class="me-auto">
                         <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                       </li>
                       <li class="d-flex align-items-center me-3">
                         <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                         <small>California</small>
                       </li>
                       <li class="d-flex align-items-center">
                         <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                         <small>5d</small>
                       </li>
                     </ul> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
