{% extends 'myhood/base.html'%}
{% block content%}
{% include 'myhood/emergency.html' %}
<div class="container-fluid d-flex flex-wrap flex-row">
     <div class="col-md-12 col-lg-6  m-3 ">
          <div class="row g-4 align-items-stretch ">
               <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://github.com/amani-joseph/ASSETS/blob/main/compressed/pexels-burst-374827%20(1)%20(1).jpg?raw=true'); background-size:cover; background-repeat:   no-repeat; background-position: center center; border-radius: 20px !important;">
                         <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                           <h2 class="p-2 m-2 display-6 lh-1 fw-bold">{{hood.name}}</h2>
                           <h5 class="p-2 m-2 lh-1 fw-bold">{{hood.city}}</h5>
                           <h5 class="p-2 m-2 lh-1 fw-bold" style="background-color: #03070b88; border-radius: 15px;" >{{hood.description}}</h5>
                           <p class="p-2 m-2 lh-1 fw-bold"  style="background-color: #d6dadd88; border-radius: 15px;" >
                              <span class="fw-bold">Coordinates:</span>
                              <span id="coordinates">{{hood.location}}</span>
                              </p>
                           <!-- <a href="tel:911" class="h1 text-decoration-none text-light fw-bolder">911</a> -->
                           
                         </div>
                         <div id="map"></div>
                         <style>
                              #map {
                                   height: 400px;
                                   /* The height is 400 pixels */
                                   width: 100%;
                                   /* The width is the width of the web page */
                                   }

                         </style>
                         <script type="text/javascript">
                              var coordinates = document.getElementById('coordinates').innerHTML
                              console.log(coordinates)
                              console.log(typeof(coordinates))
                              var coordinatesArray = coordinates.split(',');
                              console.log(coordinatesArray)
                              var map=L.map('map').setView([coordinatesArray[0], coordinatesArray[1]], 20)
                              L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=tEEGkzAHXZPkjwcM0YOi',{
                                   attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                              }).addTo(map);
                              var marker = L.marker([coordinatesArray[0], coordinatesArray[1]]).addTo(map)
                              var latitude = position.coords;
                              var longitude = position.coords;
                              
                              
                              
                              

                         </script>
                         <!-- <script>
                              neighbourhoodCoordinates= Document.getElementById('map')
                              function initMap() {
                              // The location of the neighbourhood

                              const neighbourhood = { lat: -25.344, lng: 131.031 };
                              // The map, centered at neighbourhood
                              const map = new google.maps.Map(document.getElementById("map"), {
                              zoom: 4,
                              center: neighbourhood,
                              });
                              // The marker, positioned at neighbourhood
                              const marker = new google.maps.Marker({
                              position: neighbourhood,
                              map: map,
                              });
                              }

                              window.initMap = initMap;
                         </script> -->
                       </div>
               </div>
          </div>
     </div>
     <div class="col flex-grow-1">
          <div class="text-center col-8 mx-auto mt-3">
               <a class="text-decoration-none" href="{% url 'create-business' hood.id %}?next={{ request.path }}">
                    <div class="btn btn-grad fw-bold" style="min-width: 12rem !important;" >Add Bussines</div>
               </a>
          </div>
          <div class="d-flex flex-row flex-wrap justify-content-center">
               <style>
                                        
                    .btn-grad {background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #0d2541  100%)}
                    .btn-grad {
                         margin: 5px;
                         padding: 5px 15px;
                         text-align: center;
                         transition: 0.5s;
                         background-size: 200% auto;
                         color: white;            
                         box-shadow: 0 0 20px #eee;
                         border-radius: 10px;
                         display: block;
                         }

                         .btn-grad:hover {
                         background-position: right center; /* change the direction of the change here */
                         color: #fff;
                         text-decoration: none;
                         }

                         .btn-grad-2 {background-image: linear-gradient(to right, #360033 0%, #0b8793  51%, #360033  100%)}
                         .btn-grad-2 {
                              margin: 5px;
                              padding: 5px 15px;
                              text-align: center;
                              transition: 0.5s;
                              background-size: 200% auto;
                              color: white;            
                              box-shadow: 0 0 20px #eee;
                              border-radius: 10px;
                              display: block;
                              }

                              .btn-grad-2:hover {
                              background-position: right center; /* change the direction of the change here */
                              color: #fff;
                              text-decoration: none;
                              }

               </style>
               {% for biz in businesses%}
               <div class="container m-3" 
                         style="background-color: #D9AFD9;
                         background-image: linear-gradient(0deg, #D9AFD9 0%, #1b3e42 100%);
                         
                              width: 14rem;
                              height: 14rem;
                              border-radius: 15px; ">
                              <h5 class="text-center text-light p-2 my-2">
                                   <!-- <span class="fw-bolder" style="color:rgb(227, 226, 238)">
                                   {{ hood.city }}
                                   </span> -->
                                   <span class="text-light fw-bold">
                                        {{biz.name}}
                                   </span>
                              </h5>
                              <h6 class="text-light p-2">{{hood.name}}</h6>
                              <p class="text-light p-2 " ">
                                   {{biz.categories}}
                              </p>
                              <hr class="m-3" />
                              <ul class="d-flex list-unstyled mt-auto ">
                              <li class="me-auto">
                                   <img src="https://cdn1.iconfinder.com/data/icons/unicons-line-vol-4/24/location-arrow-256.png" alt="" width="32" height="32" class="rounded-circle border border-white">
                              </li>
                              <li class="d-flex align-items-center me-3 text-light">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
                                        <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
                                   </svg>
                                   <small>{{hood.city}}</small>
                              </li>
                              <li class="d-flex align-items-center">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
                                   </svg>
                                   <small></small>
                              </li>
                              </ul>
                              
                              <!-- <a class=" footer" href="#">
                                   <div class="btn btn-grad fw-bold" >Join Hood</div>
                              </a> -->
                              
                              <div class="container">

                                   
                                   
                                   
                              </div>


                         </div>
               {% endfor%}
          </div>

          
     </div>
     <div class=""></div>
</div>



{% endblock content%}