<!-- @format -->

{% extends 'myhood/base.html'%} {% block content%}
<style>
	body {
		background: #ada996; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			to right,
			#eaeaea,
			#dbdbdb,
			#f2f2f2,
			#ada996
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to right,
			#eaeaea,
			#dbdbdb,
			#f2f2f2,
			#ada996
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		/* background-image: url('https://images.unsplash.com/photo-1629584603667-e8ad7c8feb0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80'); */
	}
</style>
<main>
	{% if user.is_authenticated %}
		{% include 'myhood/emergency.html' %}
		
		<div class="container col-md-8 my-4">
			
			<h3 class="text-center fw-bold">Neighbourhoods</h3>
			<div class="container d-flex flex-wrap flex-row justify-content-center">
			{% for hood in hoods %}
				<div class="container m-3" 
				style="background-color: #D9AFD9;
				background-image: linear-gradient(0deg, #D9AFD9 0%, #1b3e42 100%);
				
					  width: 18rem;
					  height: 18rem;
					  border-radius: 15px; ">
					<h5 class="text-center text-light p-2 my-2">
						<!-- <span class="fw-bolder" style="color:rgb(227, 226, 238)">
						{{ hood.city }}
						</span> -->
						<span class="text-light fw-bold">
							{{ hood.name }}
						</span>
					</h5>
					<p class="text-light p-2 " ">
						{{hood.description | truncatechars:30}}
					</p>
					<hr class="m-3" />
					<ul class="d-flex list-unstyled mt-auto ">
					   <li class="me-auto">
						<img src="https://cdn1.iconfinder.com/data/icons/unicons-line-vol-4/24/location-arrow-256.png" alt="" width="32" height="32" class="rounded-circle border border-white">
					   </li>
					   <li class="d-flex align-items-center me-3 text-light">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map-fill" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
							<path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
						   </svg>
						<small>{{hood.city}}</small>
					   </li>
					   <li class="d-flex align-items-center">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
						   </svg>
						<small></small>
					   </li>
					 </ul>
					 <a class=" footer text-decoration-none" href="{% url 'hood-detail' hood.id %} ">
						<div class="btn btn-grad-2 fw-bold " >View Hood</div>
					</a>
					 <a class=" footer text-decoration-none" href="#">
						<div class="btn btn-grad fw-bold " >Join Hood</div>
					</a>
					 
					<div class="container">

						<style>
							
							.btn-grad {background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #0d2541  100%)}
							.btn-grad {
								margin: 5px;
								padding: 5px 15px;
								text-align: center;
								transition: 0.5s;
								background-size: 200% auto;
								color: white;            
								box-shadow: 0 0 20px #eee;
								border-radius: 10px;
								display: block;
								}

								.btn-grad:hover {
								background-position: right center; /* change the direction of the change here */
								color: #fff;
								text-decoration: none;
								}

								.btn-grad-2 {background-image: linear-gradient(to right, #360033 0%, #0b8793  51%, #360033  100%)}
								.btn-grad-2 {
									margin: 5px;
									padding: 5px 15px;
									text-align: center;
									transition: 0.5s;
									background-size: 200% auto;
									color: white;            
									box-shadow: 0 0 20px #eee;
									border-radius: 10px;
									display: block;
									}

									.btn-grad-2:hover {
									background-position: right center; /* change the direction of the change here */
									color: #fff;
									text-decoration: none;
									}
         
						</style>
						
						
					</div>


				</div>
			{% endfor%}
		</div>
		</div>
	{% else %}
		<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button
					type="button"
					data-bs-target="#myCarousel"
					data-bs-slide-to="0"
					class=""
					aria-label="Slide 1"
				></button>
				<button
					type="button"
					data-bs-target="#myCarousel"
					data-bs-slide-to="1"
					aria-label="Slide 2"
					class="active"
					aria-current="true"
				></button>
				<button
					type="button"
					data-bs-target="#myCarousel"
					data-bs-slide-to="2"
					aria-label="Slide 3"
					class=""
				></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item">
					<div class="mask" style="background-color: rgba(0, 0, 0, 0.8)">
						<img
							src="https://github.com/amani-joseph/ASSETS/blob/main/compressed/nairobi%20(1).png?raw=true"
							alt=""
							class="w-100 overflow-hidden img-fluid"
						/>
					</div>

					<div class="container">
						<div class="carousel-caption text-start">
							<h1>Commited to connecting neighborhoods for the betterment
							<p
								>Neighbourhoods that have adopted Myhood platform have seen a
								significant cohession of the neighborhoods, increased security and
								businesses have been able to stay aflot despite covid19
								interuptions worldwide
							</p>
							<p><a class="btn btn-lg btn-grad1 col-md-3" href="{% url 'signup' %}">Sign up today</a></p>
						</div>
					</div>
				</div>
				<div class="carousel-item active">
					<img
						src="https://github.com/amani-joseph/ASSETS/blob/main/taichi-nakamura-HKpn1x4juSs-unsplash.png?raw=true"
						alt=""
						class="w-100 overflow-hidden img-fluid"
					/>

					<div class="container">
						<div class="carousel-caption">
							<h1>A connected Community</h1>
							<p
								>Neighbourhoods in nairobi are using Myhood to meet, gather,
								exchange, and share ideas.
							</p>
							<p
								><a class="btn btn-lg btn-grad1 col-md-3" href="{% url 'about'%}"
									>Learn more</a
								></p
							>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img
						src="https://github.com/amani-joseph/ASSETS/blob/main/compressed/nairobi%20(1).png?raw=true"
						alt=""
						class="w-100 overflow-hidden img-fluid"
					/>

					<div class="container">
						<div class="carousel-caption text-end">
							<h1>A global neighborhood</h1>
							<p>
								You'd be surprised of the opportunities and networks that you can
								unlock with Myhood.
							</p>
							<p 
								><a class="btn btn-lg btn-grad1 col-md-3" href="{% url 'about'%}"
									>Find out more</a
								></p
							>
						</div>
					</div>
				</div>
			</div>
			<button
				class="carousel-control-prev"
				type="button"
				data-bs-target="#myCarousel"
				data-bs-slide="prev"
			>
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button
				class="carousel-control-next"
				type="button"
				data-bs-target="#myCarousel"
				data-bs-slide="next"
			>
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<!-- Wrap the rest of the page in another container to center all the content. -->

		<div class="container marketing">
			<!-- START THE FEATURETTES -->

			<hr class="featurette-divider" />

			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading"
						>Get the most out of your neighborhood with
						<span class="fw-bolder" style="color: rgb(61, 43, 226);"> Myhood</span></h2
					>
					<p class="lead my-3"
						>It's where communities come together to greet newcomers, exchange
						recommendations, and read the latest local news. Where neighbors
						support local businesses and get updates from public agencies. Where
						neighbors borrow tools and sell couches. It's how to get the most out
						of everything nearby. Welcome, neighbor.</p
					>
				</div>
				<div class="col-md-5">
					<img
						src="https://github.com/amani-joseph/ASSETS/blob/main/compressed/1.jpg?raw=true"
						alt=""
						class="img-fluid"
					/>
					<!-- <svg
						class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
						width="500"
						height="500"
						xmlns="http://www.w3.org/2000/svg"
						role="img"
						aria-label="Placeholder: 500x500"
						preserveAspectRatio="xMidYMid slice"
						focusable="false"
					>
						<title>Placeholder</title>
						<rect width="100%" height="100%" fill="#eee"></rect>
						<text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
					</svg> -->
				</div>
			</div>

			<hr class="featurette-divider" />

			<div class="row featurette">
				<div class="col-md-7 order-md-2">
					<h2 class="featurette-heading"
						>Oh yeah, a community that party's together.
						<span class="text-muted">Stays together.</span></h2
					>
					<p class="lead"
						>Get to know where the fun is at and be part of the fun. The only way to instantly connect to the people, businesses, and happenings near your home.After all, nobody really wants to go knocking door to door to make friends. People want their privacy, but they also want to stay informed about community events. So, what options do you have?</p
					>
				</div>
				<div class="col-md-5 order-md-1">
					<img
						src="https://github.com/amani-joseph/ASSETS/blob/main/compressed/2.jpg?raw=true"
						alt=""
						class="img-fluid"
					/>
					
				</div>
			</div>

			<hr class="featurette-divider" />

			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading"
						>Keep in shape. <span class="text-muted">Get connected with all your local gyms and spas.</span></h2
					>
					<p class="lead"
						>Our mission is to build a worldwide sharing movement that reduces waste, saves precious resources & eases the burden on our landfills while enabling our members to benefit from the strength of a larger community.</p
					>
				</div>
				<div class="col-md-5">
					<img
						src="https://github.com/amani-joseph/ASSETS/blob/main/compressed/3.jpg?raw=true"
						alt=""
						class="img-fluid"
					/>
					
				</div>
			</div>

			<hr class="featurette-divider" />

			<!-- /END THE FEATURETTES --> </div
		>
	{% endif %}
	<!-- FOOTER -->
	<footer class="container">
		<p class="float-end"><a href="#">Back to top</a></p>
		<p><a href="#">Privacy</a> · <a href="#">Terms</a></p>
	</footer>
</main>
{% endblock content%}
