<!-- @format -->

{% extends 'myhood/base.html'%} {% block content%}
<style>
	.btn-grad {
		background-image: linear-gradient(
			to right,
			#1d2b64 0%,
			#f8cdda 51%,
			#0d2541 100%
		);
	}
	.btn-grad {
		margin: 5px;
		padding: 5px 15px;
		text-align: center;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;
		box-shadow: 0 0 20px #eee;
		border-radius: 10px;
		display: block;
	}

	.btn-grad:hover {
		background-position: right center; /* change the direction of the change here */
		color: #fff;
		text-decoration: none;
	}
</style>
<div class="content-section">
	<div class="container mx-auto">
		<div class="container mx-auto d-flex justify-content-center my-3">
			{% if user.profile.image %}
			<img
				width="150"
				height="150"
				class="rounded-circle mx-auto"
				src="{{ user.profile.image.url }}"
			/>

			{% else %}
			<img
				width="150"
				height="150"
				class="rounded-circle mx-auto"
				src="http://www.gravatar.com/avatar/?d=mp"
			/>

			{% endif %}
		</div>
		<div class="text-center py-2 fw-bold">{{user.username}}</div>
		<div class="text-center py-2 fw-bold">{{user.profile.hood}}</div>
		<div class="text-center py-2 fw-bold">{{user.email}}</div>
		<div class="text-center py-2 fw-bold">
			<a class="text-decoration-none" href="{% url 'edit-profile' %}">
				<button class="btn-grad mx-auto fw-bold">Edit Profile</button>
			</a>
		</div>
	</div>
</div>
<div class="container py-4">
	<div class="col-md-12 col-lg-6 m-3 mx-auto">
		<div class="row g-4 align-items-stretch">
			<div class="col">
				<div
					class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
					style="
						background-image: url('https://github.com/amani-joseph/ASSETS/blob/main/compressed/pexels-burst-374827%20(1)%20(1).jpg?raw=true');
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
						border-radius: 20px !important;
					"
				>
					<div
						class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
					>
						<h2 class="p-2 m-2 display-6 lh-1 fw-bold"
							>{{user.profile.hood.name}}</h2
						>
						<h5 class="p-2 m-2 lh-1 fw-bold">{{user.profile.hood.city}}</h5>
						<h5
							class="p-2 m-2 lh-1 fw-bold"
							style="background-color: #03070b88; border-radius: 15px"
							>{{user.profile.hood.description}}</h5
						>
						<p
							class="p-2 m-2 lh-1 fw-bold"
							style="background-color: #d6dadd88; border-radius: 15px"
						>
							<span class="fw-bold">Coordinates:</span>
							<span id="coordinates">{{user.profile.hood.location}}</span>
						</p>
						<!-- <a href="tel:911" class="h1 text-decoration-none text-light fw-bolder">911</a> -->
					</div>
					<div id="map"></div>
					<style>
						#map {
							height: 400px;
							/* The height is 400 pixels */
							width: 100%;
							/* The width is the width of the web page */
						}
					</style>
					<script type="text/javascript">
						var coordinates = document.getElementById("coordinates").innerHTML;
						console.log(coordinates);
						console.log(typeof coordinates);
						var coordinatesArray = coordinates.split(",");
						console.log(coordinatesArray);
						var map = L.map("map").setView(
							[coordinatesArray[0], coordinatesArray[1]],
							20
						);
						L.tileLayer(
							"https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=tEEGkzAHXZPkjwcM0YOi",
							{
								attribution:
									'<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
							}
						).addTo(map);
						var marker = L.marker([
							coordinatesArray[0],
							coordinatesArray[1],
						]).addTo(map);
						var latitude = position.coords;
						var longitude = position.coords;
					</script>
					<!-- <script>
                              neighbourhoodCoordinates= Document.getElementById('map')
                              function initMap() {
                              // The location of the neighbourhood

                              const neighbourhood = { lat: -25.344, lng: 131.031 };
                              // The map, centered at neighbourhood
                              const map = new google.maps.Map(document.getElementById("map"), {
                              zoom: 4,
                              center: neighbourhood,
                              });
                              // The marker, positioned at neighbourhood
                              const marker = new google.maps.Marker({
                              position: neighbourhood,
                              map: map,
                              });
                              }

                              window.initMap = initMap;
                         </script> -->
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content%}
